<div class="container">
	<div class="jumbotron">
		<a class="logotipo pull-left">Luppus Tecnologia</a>
		<div class="text-center">
				CNPJ: 23.191.155/0001-58 <br>
				Rua: Joana D'arc, 5939 , São Francisco <br>
				CEP: 64009-775, Teresina - Piauí
		</div>
	</div>
	&nbsp

	<div>
		<strong>Recebemos de:</strong> <%= current_user.name %> <br>
		<strong>A quantia de:</strong> 0000 <br>
		<strong>Correspondente aos serviços listados abaixo:</strong> <br>
		<hr>
		<div>
			<strong>Detalhamento de serviços:</strong>
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>Nome do Serviço</th>
						<th>Valor</th>
						<th>Valor Total</th>
					</tr>
				</thead>
				<tbody>
						<% @services.each do |service| %>
							<tr>
								<td><%= service.name -%></td>
								<td>R$ <%= service.total %></td>
								<td>R$ <%= service.total %></td>
							</tr>
							<% @value_total += service.total %>
						<% end -%>
				</tbody>
			</table>
			<div class="pull-right"> <strong>TOTAL: R$ <%= @value_total %> </strong> </div>
			<hr>
		</div>
	</div>
	&nbsp
	<div style="font-size: 12px">
		<strong>
			<i>
				*Recebi meu equipamento em perfeito estado e reconheço os valores acima cobrados. <br>
				*Reconheço que tenho 3 dias, a partir de hoje, para reclamar algum defeito referente ao serviço executado. <br>
				*Não será cobrado nenhuma quantia a mais para a solução de problemas dentro da garantia, mas apenas se o problema for da mesma natureza que o serviço executado anteriormente. <br>
				*Resolução de problemas fora da garantia ou de natureza diferente do problema inicial acarretará em cobrança normal. <br>
			</i>
		</strong>
	</div>
	&nbsp
	<div >
		_________________________________________ <br>
		Assinatura do Cliente
	</div>
	<div>
		_________________________________________ <br>
		Luppus Tecnologia
	</div>



</div>