<div class="text-muted lead-in">
	Bem vindo <%= current_user.name %>, hoje é  <%= formatted_date  %>
</div>
<hr>

<!-- -->
<div class="col-lg-3 col-md-6">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-archive fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">
                    	<span class="badge"><%= Computer.all.count %></span>
                    </div>
                    <div>Relatórios</div>
                </div>
            </div>
        </div>
        <a href="/admin/relatorios">
            <div class="panel-footer">
                <span class="pull-left">Ver mais</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<!-- -->
<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">
                    	<span class="badge"><%= User.all.count %></span>
                    </div>
                    <div>Cadastro de usuários</div>
                </div>
            </div>
        </div>
        <a href="/admin/users">
            <div class="panel-footer">
                <span class="pull-left">Ver Todos</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<!-- -->
<div class="col-lg-3 col-md-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-support fa-5x"></i>    
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">
                        <span class="badge"><%= User.all.count %></span>
                    </div>
                    <div>Chamados Pendentes</div>
                </div>
            </div>
        </div>
        <a href="/admin/users">
            <div class="panel-footer">
                <span class="pull-left">Ver Todos</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<!-- -->
<div class="col-lg-3 col-md-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-money fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">
                        <span class="badge"><%= User.all.count %></span>
                    </div>
                    <div>Financeiro</div>
                </div>
            </div>
        </div>
        <a href="/admin/users">
            <div class="panel-footer">
                <span class="pull-left">Ver Todos</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
