<%= render "layouts/header_system" %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>

  <div class="container">
    <div class="intro-edit">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      </div>

      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="intro-lead-in">Editar Perfil</div>
            <%= f.error_notification %>
              <div class="col-lg-6 col-md-6">
                <%= f.input :name , label: "Nome ", autofocus: :true%>
              </div>

              <div class="col-lg-6 col-md-6">
                <%= f.input :phone, label: "Telefone" %>
              </div>
              
              <div class="col-lg-6 col-md-6">
                <%= f.input :city, label: "Cidade" %>
              </div>

              <div class="col-lg-6 col-md-6">
                <%= f.input :state, label: "Estado" %>
              </div>

              <div class="col-lg-6 col-md-6">
                <%= f.input :adress, label: "Endereço" %>
              </div>

              <div class="col-lg-6 col-md-6">
                <%= f.input :number, label: "Número" %>
              </div>

              <div class="col-lg-6 col-md-6">
                <%= f.input :district, label: "Bairro" %>
              </div>
                
              <div class="col-lg-6 col-md-6">
                <%= f.input :job, label: "Profissão" %>
              </div> 

              <div class="col-lg-6 col-md-6">
                <%= f.input :born, as: :date, start_year: Date.today.year - 90,
                                              end_year: Date.today.year - 12,
                                              order: [:day, :month,:year], label: "Data de nascimento" %>
              </div>
            
              <div class="col-lg-6 col-md-6">
                <%= f.input :email, required: true %>
              </div>


              <div class="col-lg-6 col-md-6">
                <%= f.input :password, autocomplete: "off",label: "Alterar Senha",hint: "deixe em branco se não quiser mudar", required: false %>
              </div>

              <div class="col-lg-6 col-md-6">
                  <%= f.input :password_confirmation,label: "Confirmação de Senha" ,required: false %>
              </div>
              
              <div class="col-lg-6 col-md-6">
                  <%= f.input :current_password,label: "Senha Atual",hint: "precisamos da sua senha atual para atualizar os dados", required: true %>
              </div>

              <div class="col-lg-6 col-md-6">
                  <%= f.button :submit, "Atualizar dados", class: "btn btn-primary" %>
              </div>

              <div class="col-lg-6 col-md-6">
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
              </div>
          <% end %>
      </div>

      <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
  </div>
