<div>    
    <div class="container">
        <div class="col-lg-3 col-md-3"></div>
        
        <div class="col-lg-6 col-md-6">
        	<div class="intro-login">
        	    <div class="intro-lead-in">
        	   		Cadastre-se!
        	   	</div>
        	    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        	    		<%= f.error_notification %>
                    <%= f.input :name, required: true, autofocus: true %>
        	        <%= f.input :email, required: true %>
        	        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        	        <%= f.input :password_confirmation, required: true %>
        	        <%= f.button :submit, "Cadastrar", class: "btn btn-primary" %>
        	    <% end %>
        	<%= render "devise/shared/links" %>
        	</div>
        </div>

        <div class="col-lg-3 col-md-3"></div>
    </div>
</div>
