<%= simple_form_for(@admin_call) do |f| %>
  <div class="form-inputs">
  <%= f.input :description %>
  <%= f.input :status, label: "concluído?" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar Alterações",class: "btn btn-primary" %>
  </div>
<% end %>
