<div class="text-muted intro-lead-in">
  Todos os Chamados
</div>

<h4 class="text-muted">Chamados em Aberto</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Computador</th>
      <th>Descrição do Problema</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_calls.where(status: false).each do |call| %>
      <tr>
        <td><%= link_to call.user.name, admin_call_path(call) %></td>
        <td><%= call.computer.name %></td>
        <td><%= call.description %></td>
        <td><i class="label label-warning"><%= call.status || "Em andamento" %></i></td>
        <td>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
  <hr>

  
  <h4 class="text-muted">Chamados Finalizados</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Usuário</th>
        <th>Computador</th>
        <th>Descrição do Problema</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @admin_calls.where(status: true).each do |call| %>
        <tr>
          <td><%= link_to call.user.name,admin_call_path(call) %></td>
          <td><%= call.computer.name %></td>
          <td><%= call.description %></td>
          <td><i class="label label-success"><%= "Concluído" if call.status %> </i> </td>
          <td>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
