
<div class="text-muted intro-lead-in">
  <%= @admin_call.computer.user.name %>
</div>


<hr>
<p>
	<strong>STATUS:</strong>
	<% if @admin_call.status == false %>
	<i class="label label-warning"><%= @admin_call.status || "Em Andamento" %></i>
	<% else -%>
	<i class="label label-success"><%= "Concluído" if @admin_call.status %></i>
	<% end -%>
</p>

<p>
  <strong>Computador: </strong>
  <%= @admin_call.computer.name %>
</p>

<p>
  <strong>Descrição do Problema:</strong>
  <%= @admin_call.description %>
</p>

<p>
  <strong>Protocolo de Atendimento:</strong>
  <%= @admin_call.protocolo %>
</p>

<p>
  <strong>Total do Chamado:</strong>
  R$ <%= @admin_call.total || 0 %>
</p>

	

<%= link_to 'Editar', edit_admin_call_path(@admin_call), class: "btn btn-info btn-xs" %> |
<%= link_to 'Voltar', admin_calls_path, class: "btn btn-default btn-xs" %>

<%= link_to "Deletar", admin_call_path(@admin_call), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "CUIDADO , ESSE PROCESSO NÃO PODE SER DESFEITO!"} %>
