<%= simple_form_for(@computer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="col-lg-4 col-md-4">
      <%= f.input :name,label: "Nome do computador",placeholder: "ex: Notebook Dell" %>
    </div>

    <div class="col-lg-4 col-md-4">
      <%= f.input :cpu,label: "Processador",prompt: "Qual a cpu?" ,collection: ["Intel Atom", "Intel Dual Core", "Intel Core2Duo", "Intel Core2Quad","Intel Core i3","Intel Core i5", "Intel Core i7", "Outro"]  %>
    </div>

    <div class="col-lg-4 col-md-4">
      <%= f.input :model,label: "Tipo de Computador", as: :select,prompt: "Escolha um tipo" ,collection: ["Desktop","Notebook"] %>
    </div>

    <div class="col-lg-4 col-md-4">
      <%= f.input :ram , as: :select, prompt: "Memória ram", collection: ["512 MB","1 GB","2 GB","3 GB","4 GB","6 GB","8GB","16 GB","32 GB", "Outro"] %>
    </div>

    <div class="col-lg-4 col-md-4">
      <%= f.input :brand, label: "Marca",prompt: "Escolha uma marca", collection: ["Dell","LG","Asus","Apple","Acer","Itautec","Samsumg", "Outro"].sort %>
    </div>

    <div class="col-lg-4 col-md-4">
      <%= f.input :video_card, label: "Placa de Video",prompt: "Possui Placa?", collection: ["sim", "nao"] %>
    </div>

    <div class="col-lg-4 col-md-4">
      <%= f.input :hd,prompt: "Quantos GB?" ,collection: ["80 GB","160 GB", "320 GB","500 GB","1 TB","2 TB","Outro"] %>
    </div>

    <div class="col-lg-4 col-md-4">
      <%= f.input :operation_system,prompt: "Sistema" ,label: "Sistema Operacional", collection: ["Windows", "Mac OSX", "Linux", "Dual Boot"] %>
    </div>    
  
  </div>

  <div class="form-actions col-lg-12 col-md-12">
    <%= link_to 'Voltar', computers_path, class: "btn btn-warning" %>
    <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
