<div class="text-muted intro-lead-in">Meus Computadores</div>

    <% current_user.computers.each do |computer| %>
      <div class="col-lg-4 col-md-6">
          <div class="panel panel-danger">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-laptop fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div>NOME: <%= computer.name %></div>
                          <div>CPU: <%= computer.cpu %></div>
                          <div>RAM: <%= computer.ram %> GB</div>
                          <div>HD: <%= computer.hd %> GB</div>
                      </div>
                  </div>
              </div>

              <%= link_to computer  do %>
                  <div class="panel-footer">
                      <span class="pull-left">Ver Detalhes</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              <% end -%>
          </div>
          <%= link_to 'Editar', edit_computer_path(computer), class: "btn btn-info btn-xs" %>
          <%= link_to 'Deletar', computer, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-xs" %>
      </div>
    <% end %>
    
    <% if current_user.computers.count  == 0 %>
      <p>
       <i class="text-muted">Você ainda não tem nenhum computador cadastrado</i>
      </p>
    <% end -%>
    <div class="col-lg-12 col-md-12">
      <hr>
    </div>
  <div class="col-lg-12 col-md-12">
    <%= link_to 'Cadastrar novo computador?', new_computer_path, class: "btn btn-primary " %>
  </div>
