
<div class="intro-lead-in">
  <div class="text-muted">
    <%= @computer.name %>
  </div>
</div>

<hr>
<p>
  <strong>Processador:</strong>
  <%= @computer.cpu %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @computer.model %>
</p>

<p>
  <strong>Memória RAM:</strong>
  <%= @computer.ram %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @computer.brand %>
</p>

<p>
  <strong>HD:</strong>
  <%= @computer.hd %>
</p>

<p>
  <strong>Placa de Vídeo:</strong>
  <%= @computer.video_card %>
</p>

<p>
  <strong>Sistema Operacional:</strong>
  <%= @computer.operation_system %>
</p>

<%= link_to 'Editar Computador', edit_computer_path(@computer),class: "btn btn-info btn-xs" %> |
<%= link_to 'Voltar', computers_path,class: "btn btn-warning btn-xs" %> |
<%= link_to "Suporte para esse PC", "",class: "btn btn-primary btn-xs" %>

