  <% if has_computer? %>
    <%= simple_form_for(@call) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :computer_id,label: "Computador" ,collection: current_user.computers %>
        <%= f.input :description, label: "Descreva o Problema", hint: "Lembre-se, quanto maior a descrição do problema, mais rápido poderemos resolve-lo para você." %>
        
      </div>

      <div class="form-actions">
        <%= f.button :submit,"Confirmar Pedido", class: "btn btn-primary" %>
        <%= link_to 'VOLTAR', calls_path, class: "btn btn-warning " %>
      </div>
    <% end %>
  <% end -%>