<div class="intro-lead-in">
  <div class="text-muted">
    Todos os Chamados
  </div>
</div>
<% if current_user.calls.each.count > 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Computador</th>
        <th>Protocolo</th>
        <th>Descrição</th>
        <th>Total</th>
        <th>Status</th>
        <th colspan="3">Opções</th>
      </tr>
    </thead>

    <tbody>
      <% @calls.each do |call| %>
        <tr>
          <td><%= call.computer.name %></td>
          <td><%= call.protocolo %></td>
          <td><%= call.description[0..100] %> ...</td>
          <td><%= call.total %></td>
          <% if call.status == nil -%>
            <td ><span class="label label-warning"><i>Em Andamento</i></span></td>
          <% else -%>
            <td ><span class="label label-success"><i>Completo</i></span></td>
          <% end -%>


          <td><%= link_to 'Mostrar', call, class: "btn btn-info btn-xs" %></td>
          <td><%= link_to 'Editar', edit_call_path(call), class: "btn btn-warning btn-xs" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    <i class="text-muted">Você ainda não tem fez chamado, está com problemas? Clique no botão abaixo e nos contate.</i>
  </p>
<% end -%> 

<br>

<%= link_to 'Novo Chamado', new_call_path, class: "btn btn-primary" %>
