<div class="intro-lead-in text-muted">
	Pedido de Suporte
</div>

<% if has_computer? %>

	<%= render 'form' %>
	<h4><span class="pull-right">Valor Total R$<span id="#call_total"> 00,00</span> </span></h4>

<% else -%>
	<p class="text-muted">
		<i>
			Você ainda não possui nenhum computador cadastrado, por favor, clique abaixo e cadastre um.
		</i>
	</p>
	<hr>
	<%= link_to "Cadastrar computador", new_computer_path, class: "btn btn-primary" %>
<% end -%>