<p>
  <strong>Úsuário:</strong>
  <%= @call.user.name %>
</p>

<p>
  <strong>Computador:</strong>
  <%= @call.computer.name %>
</p>

<p>
  <strong>Nº de protocolo:</strong>
  <%= @call.protocolo %>
</p>

<p>
  <strong>Serviços:</strong>
  <%= @call.service_id  %>
    
</p>

<p>
  <strong>Valor Total:</strong>
  <%= @call.total %>
</p>

<p>
  <strong>Descrição do problema:</strong>
  <%= @call.description %>
</p>


<p>
  <strong>Status:</strong>
  <% if @call.status == nil  %>
    <span class="label label-warning">Em andamento</span>
  <% else %>
    <span class="label label-success">Completo</span>
  <% end -%>
</p>

<p>
  Criado em 
  <%= @call.created_at.to_date %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
