     <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <%= bootstrap_flash %>
                <div class="intro-lead-in">Bem Vindo à Luppus!</div>
                <div class="intro-heading">tecnologia descomplicada</div>
                <a href="#services" class="page-scroll btn btn-xl">Leia Mais</a>
            </div>
        </div>
    </header>
    
    <%# Render partials for mount the complete page %>
    <%= render "pages/partials/services" %>

    <%= render "pages/partials/portfolio" %>

    <%= render "pages/partials/about" %>

    <%= render "pages/partials/team" %>
    
    <%#= render "pages/partials/clients" %>

    <%= render "pages/partials/contact" %>

    <%= render "pages/partials/modals" %>