<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sobre a Luppus</h2>
                <h3 class="section-subheading text-muted">A estrada até aqui.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013</h4>
                                <h4 class="subheading">As origens</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    A Luppus ainda era uma ideia, que nasceu a partir de uma dificuldade que as pessoas tinham de encontrar serviços de qualidade e preços acessíveis.
                                </p>

                                <p class="text-muted">
                                    Nosso suporte é flexível e entende exatamente o que você precisa, dispensando assim, a necessidade de você se preocupar com as partes mais complicadas, fazemos isso por você.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Junho de 2015</h4>
                                <h4 class="subheading">Uma empresa estava nascendo</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Depois de iniciar com a CodeWebHouse, vimos que ainda tinha um tipo de serviço que não atendiamos e que estava fazendo falta no mercado. 
                                </p>

                                <p class="text-muted">
                                    Assim foi criada A <i>Luppus Tecnologia</i>, juntando os dois serviços em uma única empresa. 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fevereiro de 2016</h4>
                                <h4 class="subheading">Mudança de postura. A Web!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Temos que nos adaptar ao mercado, e aos nossos clientes, estamos lançando nosso site, e ferramentas para solução de problemas online, além do atendimento domiciliar, <i>atendimento remoto</i> e futuramente pagamentos online, tudo para melhorar o seu conforto e aumentar a praticidade
                                </p>
                            </div>
                        </div>
                    </li>
                    
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Faça Parte
                                <br>Da Nossa
                                <br>História!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>