<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>CodeWebHouse</h2>
                        <p class="item-intro text-muted">Criação de Website para a startup CodeWebHouse.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/codewebhouse2.png" alt="">
                        <p>Primeiro site para startup de desenvolvimento de sites, antes de se tornar a Luppus Tecnologia.</p>
                        <p>
                            <strong>Porque o projeto foi descontinuado?</strong> Você ainda pode acessar o site da <a href="http://codewebhouse.herokuapp.com" target="_blank">CodeWebHouse</a> o projeto foi descontinuado pois decidimos unir dois tipos de serviços em apenas uma única <i>Startup</i></p>
                        <ul class="list-inline">
                            <li>Data: Junho de 2015</li>
                            <li>Client: CodeWebHouse</li>
                            <li>Category: Websites e sistemas</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>CrescentMoon</h2>
                        <p class="item-intro text-muted">Criação de site para um clan do jogo <i>Priston Tale </i>.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/crescentmoon2.png" alt="">
                        <p>
                            O site pode ser acessado a partir do link, <a href="http://crescentmoon.herokuapp.com" target="_blank">CrescrentMoon</a>, criado com o intuito de aproximar os jogadores, terem um lugar para controlar os seus membros, e fixar um painel de regras, que dentro do jogo não é possível. 
                        </p>

                        <p>
                            Essa é apenas mais uma das aplicações de um site.
                        </p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Faculchat</h2>
                        <p class="item-intro text-muted">Site criado para compartilhamento de arquivo entre alunos.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/faculchat2.png" alt="">
                        <p>
                            O projeto <a href="http://faculchat.herokuapp.com" target="_blank"> <i>Faculchat</i> </a> visa a interação entre alunos e o compartilhamento de arquivos, fazendo com que tenham um ambiente seguro, livre de distrações causadas por outros mensageiros, como <i>Whatsapp ou Facebook, por exemplo.</i>
                        </p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>