<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfólio</h2>
                <h3 class="section-subheading text-muted">Veja alguns dos nossos trabalhos de sucesso.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/codewebhouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>CodeWebHouse</h4>
                    <p class="text-muted">Website</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/crescentmoon.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>CrescentMoon</h4>
                    <p class="text-muted">Website</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/faculchat.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Faculchat</h4>
                    <p class="text-muted">Website</p>
                </div>
            </div>
        </div>
    </div>
</section>