<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Serviços</h2>
                <h3 class="section-subheading text-muted">A tecnologia de um jeito bem descomplicado</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Desenvolvimento de Sites</h4>
                <p class="text-muted">Criamos seu site dinâmico, ou sistema para sua loja ou negócio, veja nossos projetos abaixo.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Suporte Técnico</h4>
                <p class="text-muted">Contamos com suporte ténico especializado e com profissionais capacitados para resolver todos os tipos de problemas.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Segurança</h4>
                <p class="text-muted">Qualidade e garantia de serviço, responsabilidade e profissionalismo para trabalhar com dados sigilos.</p>
            </div>
        </div>
    </div>
</section>