<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Conheça a nossa equipe</h2>
                <h3 class="section-subheading text-muted">Venha bater um papo conosco, ficaremos felizes em lhe receber.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("avatar.jpg",heigth:225,width:225 ,class: "img-responsive img-circle") %>
                    <h4></h4>
                    <p class="text-muted">Designer Gráfico</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-member">
                <img src="http://www.gravatar.com/avatar/9179b9a7b348cb318177d4b0d2bd77fc?s=225" class="img-responsive img-circle"/>
                    <h4>Daniel Santos</h4>
                    <p class="text-muted">CEO & Desenvolvedor Web</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="http://twitter.com/kofmaniac2002" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="http://facebook.com/dansenpai" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="http://likedin.com/kofmaniac" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("avatar.jpg",heigth:225,width:225, class: "img-responsive img-circle") %>
                    <h4></h4>
                    <p class="text-muted">Midia e Social</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">
                    A Luppus conta com profissionais capacitados e que amam o que fazem.
                </p>
            </div>
        </div>
    </div>
</section>