  <div class="container">

			<div class="col-lg-3 col-md-3">
			</div>

      <div class="col-lg-6 col-md-6">
      	<div class="intro-login">
      	    <div class="intro-lead-in">
      	   		Entrar!
      	   	</div>
      	    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      	    		<%= bootstrap_flash %>
      	        <%= f.input :email, required: false, autofocus: true %>
      	        <%= f.input :password, required: false %>
      	        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      	        <%= f.button :submit, "Entrar", class: "btn btn-primary" %>
      	    	<% end %>
      	    <%= render "devise/shared/links" %>
      	</div>
      </div>
		
			<div class="col-lg-3 col-md-3"></div>
  </div>
