.box-content {
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #2471FF;
}

.intro-login {
  padding-top: 20px;
  padding-bottom: 50px;
  
}

.intro-login .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
.intro-login .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .intro-login {
    padding-top: 180px;
    padding-bottom: 50px;
  }
  .intro-login .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .intro-login .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

.intro-edit{
  padding-top: 130px;
}

.intro-edit .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .navbar-default .navbar-nav > .open > a,
   .navbar-default .navbar-nav > .open > a:hover,
   .navbar-default .navbar-nav > .open > a:focus{
    background-color: #222;
  }

  .navbar-nav > li > .dropdown-menu{
    background-color: #222;
  }

  .navbar-nav > li > .dropdown-menu > 
  .navbar-default .nav li a{
    background-color: #222;  }


    /* Side Navigation */

    @media(min-width:768px) {
        .side-nav {
            position: fixed;
            top: 67px;
            left: 225px;
            width: 225px;
            margin-left: -225px;
            border: none;
            border-radius: 0;
            overflow-y: auto;
            background-color: #222;
            bottom: 0;
            overflow-x: hidden;
            padding-bottom: 40px;
        }

        .side-nav>li>a {
            width: 225px;
        }

        .side-nav li a:hover,
        .side-nav li a:focus {
            outline: none;
            background-color: #000 !important;
        }
    }

    .side-nav>li>ul {
        padding: 0;
    }

    .side-nav>li>ul>li>a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        color: #999;
    }

    .side-nav>li>ul>li>a:hover {
        color: #fff;
    }

    .system-main{
      margin-top: 100px;
      padding-top: 40px;
    }

    .logotipo{
      color: #2471FF;
      font-family: "Kaushan Script",Helvetica,sans-serif;
    }
