			<!-- Page Heading -->
				<div class="row intro-text">
			    <div class="col-lg-12">
			        <div class="intro-lead-in text-muted">
			            Área do Cliente <small></small>
			        </div>
			        <ol class="breadcrumb">
			            <li class="active">
			                <i class="fa fa-dashboard"></i> Área do Cliente
			            </li>
			        </ol>
			    </div>
			
			<div class="row">
			    <div class="col-lg-3 col-md-6">
			        <div class="panel panel-primary">
			            <div class="panel-heading">
			                <div class="row">
			                    <div class="col-xs-3">
			                        <i class="fa fa-laptop fa-5x"></i>
			                    </div>
			                    <div class="col-xs-9 text-right">
			                        <div class="huge">
			                        	<span class="badge"><%= current_user.computers.count %></span>
			                        </div>
			                        <div>Computadores</div>
			                    </div>
			                </div>
			            </div>
			            <a href="/computers">
			                <div class="panel-footer">
			                    <span class="pull-left">Ver Todos</span>
			                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                    <div class="clearfix"></div>
			                </div>
			            </a>
			        </div>
			    </div>

			    <div class="col-lg-3 col-md-6">
			        <div class="panel panel-danger">
			            <div class="panel-heading">
			                <div class="row">
			                    <div class="col-xs-3">
			                        <i class="fa fa-support fa-5x"></i>
			                    </div>
			                    <div class="col-xs-9 text-right">
			                        <div class="huge"> 
																<span class="badge">
																	<%= current_user.calls.each.count %>
																</span>
			                        </div>
			                        <div>Pedidos de Suporte</div>
			                    </div>
			                </div>
			            </div>
			            <a href="/calls">
			                <div class="panel-footer">
			                    <span class="pull-left">Ver Todos</span>
			                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                    <div class="clearfix"></div>
			                </div>
			            </a>
			        </div>
			    </div>

			    <div class="col-lg-3 col-md-6">
			        <div class="panel panel-success">
			            <div class="panel-heading">
			                <div class="row">
			                    <div class="col-xs-3">
			                        <i class="fa fa-tasks fa-5x"></i>
			                    </div>
			                    <div class="col-xs-9 text-right">
			                        <div class="huge">0</div>
			                        <div>Problemas Solucionados</div>
			                    </div>
			                </div>
			            </div>
			            <a href="#">
			                <div class="panel-footer">
			                    <span class="pull-left">Ver Todos</span>
			                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                    <div class="clearfix"></div>
			                </div>
			            </a>
			        </div>
			    </div>


			    <div class="col-lg-3 col-md-6">
			        <div class="panel panel-primary">
			            <div class="panel-heading">
			                <div class="row">
			                    <div class="col-xs-3">
			                        <i class="fa fa-shopping-cart fa-5x"></i>
			                    </div>
			                    <div class="col-xs-9 text-right">
			                        <div class="huge">0</div>
			                        <div>Aplicativos</div>
			                    </div>
			                </div>
			            </div>
			            <a href="#">
			                <div class="panel-footer">
			                    <span class="pull-left">Ver Todos</span>
			                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			                    <div class="clearfix"></div>
			                </div>
			            </a>
			        </div>
			    </div>
			    
			</div>
		</div>
		<!-- /.row -->