<%= simple_form_for(@admin_computer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :name %>
  	<%= f.input :cpu %>
  	<%= f.input :ram %>
  	<%= f.input :brand %>
  	<%= f.input :model %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,"Atualizar dados",class: "btn btn-primary btn-xs" %>
  </div>
<% end %>
