<div class="intro-lead-in text-muted">
	Editar Computador
</div>

<%= render 'form' %>

<%= link_to 'Show', @admin_computer, class: "btn btn-info btn-xs" %> |
<%= link_to 'Back', admin_computers_path, class: "btn btn-default btn-xs" %>
