<div class="text-muted intro-lead-in">
    Lista de Computadores
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Nome do Computador</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_computers.each do |admin_computer| %>
      <tr>
        <td> <%= admin_computer.user.name %> </td>
        <td> <%= admin_computer.name %> </td>
        <td>
          <%= link_to 'Mostrar',admin_computer_path(admin_computer), class: "label label-primary" %>
          <%= link_to 'Editar', edit_admin_computer_path(admin_computer), class: "label label-info" %>
          <%= link_to 'Delete', admin_computer, method: :delete, class: "label label-danger", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
