<div class="text-muted intro-lead-in">
	<%= @admin_computer.user.name %>	
</div>

<p>
	<strong>Nome do Computador: </strong> 
	<%= @admin_computer.name %>
</p>

<p>
	<strong>Marca:  </strong>
	<%= @admin_computer.brand %>
</p>

<p>
	<strong>Modelo: </strong>
	<%= @admin_computer.model %>
</p>


<p>
	<strong>CPU: </strong>
	<%= @admin_computer.cpu %>
</p>

<p>
	<strong>MEMORIA RAM: </strong>
	<%= @admin_computer.ram %>
</p>

<p>
	<strong></strong>
</p>



<%= link_to 'Editar', edit_admin_computer_path(@admin_computer), class: "btn btn-info btn-xs" %> |
<%= link_to 'Voltar', admin_computers_path,class: "btn btn-default btn-xs"  %>
<%= link_to 'Deletar', admin_computer_path,method: :delete,data:{confirm: "ESSA AÇÃO NÃO PODE SER DESFEITA!"},class: "btn btn-danger btn-xs"  %>
