    <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href=""><i class=""></i> </a>
                </li>
                
                <li>
                    <a href="/admin/calls"><i class="fa fa-fw fa-support"></i>Todos os Chamados</a>
                </li>

                <li>
                    <a href="/admin/computers"><i class="fa fa-fw fa-laptop"></i>Todos os Computadores</a>
                </li>

                <li>
                    <a href="/admin/"><i class="fa fa-fw fa-user"></i>Todos os usuários</a>
                </li>

                <li>
                    <a href=""><i class="fa fa-fw fa-desktop"></i> Acesso Remoto</a>
                </li>

                <li>
                    <a href=""><i class="fa fa-fw fa-wrench"></i> Programas Essenciais</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>