<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Luppus Tecnologia  2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="http://twitter.com/luppustecnologia"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href=https://www.facebook.com/Luppus-Tecnologia-512293292253220/?ref=bookmarks""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="http://instagram.com/luppustecnologia"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="tel:86994938293"><i class="fa fa-phone"> </i> (86) 9 9493-8293</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
