<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Luppus Tecnologia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Serviços</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfólio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Equipe</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
                
                <% unless user_signed_in? %>
                    <li>
                        <%= link_to "Entrar", new_user_session_path %>
                    </li>
                        <% else -%>
                        
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_user.name.split(" ")[0] || "Usuário" if current_user.name %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li>
                              <%= link_to "Acesso ao Sistema", "/sistema" %>
                          </li>

                          <li role="separator" class="divider"></li>
                          <li>
                             <%= link_to "Deslogar", destroy_user_session_path, method: :delete %>
                         </li>
                          <li role="separator" class="divider"></li>
                        </ul>
                      </li>  
                <% end -%>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>