<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href=""><i class=""></i> </a>
                    </li>

                    <li class="active">
                        <a href="/sistema"><i class="fa fa-fw fa-dashboard"></i> Início</a>
                    </li>

                    <li>
                        <a href="/computers"><i class="fa fa-fw fa-laptop"></i> Meus Computadores</a>
                    </li>

                    <li>
                        <a href=""><i class="fa fa-fw fa-support"></i> Solução de Problemas</a>
                    </li>

                    <li>
                        <a href="/calls"><i class="fa fa-fw fa-wrench"></i> Novo Chamado</a>
                    </li>

                    <li>
                        <a href=""><i class="fa fa-fw fa-desktop"></i> Acesso Remoto</a>
                    </li>

                    <li>
                        <a href=""><i class="fa fa-fw fa-wrench"></i> Programas Essenciais</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
