<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no">
  <meta name="author" content="Daniel dos Santos">
  <meta name="description" content="Luppus Tecnologia">
  <title>Luppus Tecnologia</title>
  <!-- Bootstrap Core CSS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  
  <% if 1 > 2 %>
  <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    (function(){ var widget_id = 'Fs71WB3uXp';
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
    </script>
  <!-- {/literal} END JIVOSITE CODE -->
  <% end -%>

</head>
<body id="page-top" class="index">  
  <%= render "layouts/admin_header"  %>
  <div class="col-lg-3 col-md-3">
      <%= render "layouts/admin_sidebar" %>
  </div>
  
  <div class="col-lg-8 col-md-9 system-main">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
  
<script src="http://areaaperta.com/nicescroll/js/jquery.nicescroll.min.js"></script>
</body>
</html>
