<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no">
  <meta name="author" content="Daniel dos Santos">
  <meta name="description" content="Luppus Tecnologia">
  <title>Luppus Tecnologia</title>
  <!-- Bootstrap Core CSS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
</head>
    <%= yield %>

<script src="http://areaaperta.com/nicescroll/js/jquery.nicescroll.min.js"></script>
</body>
</html>
